* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
		scrollbar-width: thin;
		scrollbar-color: #888 #2b313a; 
}

body,html {
	-ms-overflow-style: none;
	scrollbar-width: none;

}
	html::-webkit-scrollbar {
		width: 12px;
		height: 12px; 


}

html::-webkit-scrollbar-track {
	background: #2b313a; 
	border-radius: 10px;
}
html::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 10px; 
	border: 3px solid #2b313a; 
}
html::-webkit-scrollbar-thumb:hover {
	background-color: #555; 
}
:root {
	/* DT - dark theme
				LT - light theme
	от более темных к светлым */
	--DTBlue1: #0e1116;
	--DTBlue2: #171c21;
	--DTBlue3: #21262e;
	--DTBlue4: #2b313a;
	--DTBlue5: #353d47;
	--DTBlue6: #4b5563;
	--DTBlue7: #404955;
	--DTText: #acbace;
	--LTBlue1: #2c3a4e;
	--LTBlue2: #3c4c63;
	--LTBlue3: #465670;
	--LTBlue4: #5c6d88;
	--LTBlue5: #6b7b96;
	--LTBlue6: #8292ac;
	--LTBlue7: #b3c6e4;
	--LTText: #1b1f24;
}
header {
	width: 100vw;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--DTBlue1);
	border-bottom: 3px solid black;
}
.main {
	width: 100%;
	height: 110%;


	
}

.dop1,.dop2 {
	width: 90%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:var(--DTBlue4);
	border-radius: 25px;
	border: 2px solid var(--DTBlue1);

}
.header-dop {
	width: 50%;
	height: 6%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--DTBlue4);
	border-radius: 23px;	
	position: relative;
	border: 2px solid black;

	
}

.language-javascript {
	width: 50%;
	border-radius: 23px;
	transition: .3s all;
}

.language-javascript:hover {
	transform: scale(1.1);
}

.dopresult1 {
	width: 50%;
	border-radius: 23px;
}
.border {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dop4 {
	height: 100%;
	position: relative;
	top: -40%;
}
.dop5 {
	height: 160%;
	position: relative;
	top: -2.5%;
}
.dop6 {
	position: relative;
	top: 27.5%;
	height: 85%;
}
.dop7 {
	height: 100%;
	top: 27.5%;
	position: relative;
}
.dop8 {
	position: relative;
 top: 35%;
 height: 100%;
}
	.first {
		height: 75%;
	}
	.dop3 {
		height: 70%;
		position: relative;
		top: -32%;
	}
	.second {
		position: relative;
		top: -15%;
		height: 80%;
	}
.smooth-scroll-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--DTBlue3);
	color: white;
	gap:5%;
	overflow-x: hidden;
	overflow-y: scroll;
	position: fixed;
}
html::-webkit-scrollbar {
	display: none;
}
.dop9 {
	height: 150%;
	position: relative;
	top: 67.5%;
}